<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="WarehouseRequestsDBConnectionString" 
         connectionString="Host=db.pqmezrswnsvqoxodzues.supabase.co;Port=5432;Database=postgres;Username=postgres;Password=4YqBISZ8TYYPgozc;SSL Mode=Require;Trust Server Certificate=true;Pooling=true;" 
         providerName="Npgsql" />
  </connectionStrings>

  <system.web>
    <compilation debug="false" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" maxRequestLength="4096" executionTimeout="110" />
    
    <!-- Hebrew/English Internationalization Support -->
    <globalization culture="he-IL" uiCulture="he-IL" fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" />

    <!-- Authentication and Role Authorization Configuration -->
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="2880" defaultUrl="~/AddRequest.aspx" cookieless="UseCookies" />
    </authentication>

    <roleManager enabled="true" defaultProvider="SqlRoleProvider">
      <providers>
        <clear />
        <add name="SqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="WarehouseRequestsDBConnectionString" applicationName="WarehouseRequests" />
      </providers>
    </roleManager>

    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
  </system.web>

  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="AddRequest.aspx" />
      </files>
    </defaultDocument>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <directoryBrowse enabled="false" />
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
